*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation{
    width: 100%;
    background-color: red;
    overflow: hidden;
    display: block;
    position: fixed;
    top: -50px;

}

li{
    float: left;
    padding: 16px 20px;
    list-style-type: none;
}